.App {
  text-align: center;
}
.header{
  height: 150px;
  width: 100vw;
  background-color:#009AD4;
  padding-top: 50px;
}

.Logo{
  flex: 0;
  margin: 100px;
}

@media only screen and (min-width:450px){
  .header{
    height: 150px;
    width: 100vw;
    background-color:#009AD4;
    padding-top: 50px;
  }
  .body{
    display: flex;
    flex-direction: row;
  }
  .Logo{
    flex: 2;
    margin: 100px 250px 100px 250px;
  }
  
}